body {
    height: 720px;
    width: 1280px;
    background: url('../image/background.jpg') no-repeat scroll;
    position: relative;
}


/*
test
 */

.jiaobiao {
    position: absolute;
    z-index: 99;
    display: none;
}

#test {
    width: 500px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    color: red;
    top: 100px;
    left: 100px;
    font-size: 16px;
    z-index: 100;
}


/*#buy_layout*/

#buyLayout{width: 1280px; height: 720px; position: absolute; background: url(../image/buy_bg.png) no-repeat; z-index: 200; text-align: center;}
#buyLayout h3{padding-top: 224px; margin-bottom: 15px; margin-left: -200px;}
#buyLayout ul{width: 500px;margin: 0px auto;}
#buyLayout li{height: 50px; background:url(../image/button_bg_02.png) no-repeat center -105px; width: 50%;float: left;font-size: 13px;
    font-weight: bold;}
.buyActive {
    background-position: center -13px !important;
}

#buyConfirm {
    margin-top: 85px !important;
}

#buyConfirm li {
    line-height: 36px;
}

#buyConfirmText {
    font: 20px bolder !important;
}

.new {
    color: red;
}

.linethrough {
    text-decoration: line-through;
    color: red;
}

.old {
    line-height: 16px;
    display: block;
    margin-top: 5px;
}

#last {
    line-height: 45px !important;
}
/*#navBar start*/

#navBar {
    width: 1280px;
    //height: 110px;
    padding-top: 20px;
}

#nav {
    float: left;
}

#navBar #logo {
    position: absolute;
    z-index: -1;
    left: 40px;
}

#navBar #nav {
    height: 67px;
    width: 895px;
    padding-left: 140px;
    overflow: hidden;
    margin-left: 25px;
}

#navBar #nav li {
    margin-right: 30px;
    margin-left: 35px;
    float: left;
    color: #799dca;
    line-height: 67px;
    text-align: center;
    font-size: 22px !important;
    font-family: '微软雅黑', '宋体' !important;
}

.nav0 {
    background: url('../image/navChose.png') no-repeat -18px;
}

.nav1 {
    background: url('../image/navChose.png') no-repeat 118px;
}

.nav2 {
    background: url('../image/navChose.png') no-repeat 270px;
}

.nav3 {
    background: url('../image/navChose.png') no-repeat 410px;
}

.nav4 {
    background: url('../image/navChose.png') no-repeat 560px;
}

.nav5 {
    background: url('../image/navChose.png') no-repeat 714px;
}

.wordAction {
    color: #ffffff !important;
}

#buyCollect {
    height: 45px;
    width: 175px;
    float: right;
    background: url(../image/buyCollect.png) no-repeat;
    margin-top: 7px;
    margin-right: 45px !important;
}

#collect,
#buy {
    height: 100%;
    width: 50%;
    float: left;
}

.buyCollectFocus {
    background: url(../image/buyCollectFocus.png) no-repeat;
}


/*#navbar end*/


/*#content start*/

#content {
    width: 100%;
    height: 610px;
    overflow: hidden;
}

#show {
    width: 1200px;
    height: 100%;
    position: relative;
    margin: 0px auto;
}

#show li {
    position: absolute;
}

#showBig {
    width: 800px;
    height: 420px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}

//showBigPic
#showBigPic {
    width: 780px;
    height: 400px;
}

#showBigPic li {
    position: absolute;
    z-index: 0;
}

.showPic {
    z-index: 10 !important;
}

#mark {
    position: absolute;
    height: 47px;
    width: 780px;
    background:url(../image/touming.png) no-repeat;
    bottom: 19px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    overflow: hidden;
    //padding-left: 30px;
    z-index: 100;
}

#warpMark {
    position: absolute;
    height: 47px;
    width: 750px;
    bottom: 19px;
    overflow: hidden;
    color: white;
    font: 20px bold;
    padding-left: 30px;
    text-align: center;
    z-index: 200;
}

#title {
    line-height: 47px;
    width: 200px;
    float: left;
    position: relative;
}

.choseFrame1 {
    background: url(../image/choseFrame1.png) no-repeat 1px 2px;
}

#circle {
    float: right;
    width: 120px;
    height: 37px;
    overflow: hidden;
    padding-top: 5px;
    margin-right: 10px;
    position: relative;
}

#circle li {
    position: static;
    height: 38px;
    width: 40px;
    float: left;
    background: url(../image/circleBlur.png) no-repeat;
    line-height: 36px;
}

.circleFocus {
    background: url(../image/circleFocus.png) no-repeat !important;
}

#showMidd1,
#showMidd2 {
    height: 270px;
    width: 355px;
    padding: 14px;
    left: 818px;
}

#showMidd2 {
    top: 301px;
}

.choseFrame2 {
    background: url(../image/choseFrame2.png) no-repeat;
}

#showSm1,
#showSm2,
#showSm3 {
    height: 131px;
    width: 259px;
    padding: 12px;
    top: 438px;
}

#showSm1 {
    left: 10px;
}

#showSm2 {
    left: 278px;
}

#showSm3 {
    left: 546px;
}

.choseFrame3 {
    background: url(../image/choseFrame3.png) no-repeat -1px;
}
